<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Connectionstring" connectionString="Data Source=www3.idt.mdh.se;Initial Catalog=ffg12002_db;User ID=ffg12002;Password=Frenning123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>